.eliminar {
    background-color: red;
    color: white;
  }
  html{
    background-color: white;
  }
body {
  font-family: sans-serif;
  height: 100vh;
  right: 0;
  left: auto;
}
.container {background-color: #ACFF33;
}
